<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ielts-web/
    
    # Redirect to index.php if the file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
    
    # Set default index file
    DirectoryIndex index.php index.html
</IfModule>
